{% extends "base.html" %}

{% block head %}
<meta http-equiv="refresh" content="10">
{% endblock %}

{% block body %}

<!--{% with msgs = get_flashed_messages(with_categories=true) %}-->
<!--{% if msgs %}-->
<!--{% for category, msg in msgs %}-->
<!--    {% if category == "error" %}-->
<!--        <center>-->
<!--        <div style="background-color:red; color:white; width:500px;">{{msg}}</div>-->
<!--        </center>-->
<!--{% endif %}-->
<!--{% endfor %}-->
<!--{% endif %}-->
<!--{% endwith %}-->

<center style="color:white">
    <h2>TASK MANAGER</h2>
    <br>
   <h1>Log in</h1>
<form action="{{ url_for('auth.login') }}" method="POST">
    <input type="email" name="email" value="" placeholder=" Email" style="width:250px;height:30px;border-radius:10px;"><br>
    Email<br>
    <input type="password" name="password" value="" placeholder=" Password" style="width:250px;height:30px;border-radius:10px;">
    <br>Password<br>
    <input type="submit" value="Login" style="width:250px;height:30px;border-radius:10px;">
</form>
<br>
    <a href="/sign"><h3 style="color:white">Create account</h3></a></br>

</center>

{% endblock %}